* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    height: 100%;
}

body,
header,
footer {
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}

body {
    background-color: rgba(104, 52, 52, 0.459);
    font-family: Helvetica, sans-serif;
}

/* Corresponde al Main Puro */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
    width: 99%;
    border-radius: 10px;
    background-color: rgba(104, 52, 52, 0.459);
    margin: 0.5rem;
}

.contenedor-input{
    position: relative;
    padding: 25px;
    background-color: rgba(104, 52, 52, 0.459);
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.encuentraMesa {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Gruppo', cursive;
    font-size: 50px;
    top: 8%;
    left: 25%;
    color: white;
    border-radius: 10px;
}

.areaInput{
    position: relative;
    text-align: center;
}

#fecha {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

#hora {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 115px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

#personas {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

#lugares {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

#nombr {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

::-webkit-input-placeholder {
    color: black;
}

#apellid {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

#telefon {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

#corre {
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    margin: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: burlywood;
}

.contenedor-boton-reserva{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

#reservar {
    font-family: 'Gruppo', 'cursive';
    font-size: 20px;
    width: 230px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(104, 52, 52, 0.849);
    color: white;
    cursor: pointer;
}

/* Corresponde al Main */
.contenedor-NClientes{
    border-radius: 0px 0px 10px 10px;
    height: auto;
}

.NClientes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Gruppo', cursive;
    font-size: 50px;
    margin-bottom: 0;
    float: inline-start;
    text-align: center;
}

.botons {
    display: inline-flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}

.boton {
    align-self: center;
    margin-top: 250px;
    padding: 5px 20px;
    background-color: rgba(104, 52, 52);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

/* Corresponde al Main */
.h1Index {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    margin-bottom: 5px;
}

/* Corresponde al Main */
.h1Index p {
    font-family: 'Gruppo', cursive;
    font-size: 50px;
}

header {
    box-shadow: 0 0 0.5rem (83 78 76);
    height: auto;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: auto;
    width: 99%;
    background-color: rgba(104, 52, 52, 0.459);
}

footer article {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin: 20px;
}

/* ul li { 
    list-style-type: none;
    list-style-position: inside;
    content: "\2022";
    margin-right: 5px;
}

ul li:before {
    content: "\2022";
    margin-right: 1px;
 } */

article ul li a {
    list-style-type: none;
    font-size: 20px;
}

.listaFooter {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footerDiv {
    position: relative;
    justify-content: center;
    background-color: rgba(104, 52, 52, 0.459);
    border-radius: 10px;
    width: 99%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: black;
    height: 70px;
    margin: 0 auto;
}

footer>a {
    display: contents;
    justify-content: center;
    align-content: flex-start;
    font-size: 20px;
    margin: 3px;
}

footer>img {
    display: flex;
}

.footer-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 18px;
    color: #333;
}

.footerP {
    position: relative;
    bottom: 10px;
    left: 50%;
    margin: 0;
}

.fa-regular {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 0px;
}

.imgFooter {
    display: inline-block;
    margin-right: 2%;
    margin-top: -55px;
    margin-bottom: -40px;
}

footer>i {
    justify-content: flex-end;
}

.barraAdorno article {
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    border-radius: 10px;
}

.barraAdorno article i {
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 8px;
}

.barraAdorno2 article {
    display: flex;
    background-color: rgba(104, 52, 52, 0.459);
    justify-content: right;
    align-items: center;
    border-radius: 10px;
}

i {
    margin: 5px;
}

nav>img {
    width: 50px;
    margin: 10px;
}

#gif-ppal {
    width: 30%;
}

/* logo y menu */
.header-menubar {
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
}

.header-menubar ul {
    padding: 0.5rem;
    list-style: none;
}

.header-menubar li {
    font-weight: 700;
    text-align: center;
    float: right;
}

nav>i {
    padding: 5px;
}

a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    opacity: 0.7;
}

#divTitulo {
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    text-shadow: 2px 2px 4px rgb(54, 1, 1);
    text-align: center;
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% {
        color: brown;
        text-shadow: 2px 2px 2px white;
    }

    50% {
        color: white;
        text-shadow: 2px 2px 4px black;
    }

    100% {
        color: black;
        text-shadow: 2px 2px 4px white;
    }
}

.aboutP {
    color: black;
    font-size: 15px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-right: 80px;
    margin-left: 80px;
    line-height: 2.5;
}

.mainReg {
    background-color: rgba(104, 52, 52, 0.459);
    width: 99%;
    height: 800px;
}

#mainReg {
    background-color: rgba(104, 52, 52, 0.187);
    width: 99%;
    height: 600px;
}

.divH1 {
    font-size: 25px;
    color: brown;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.divH2 {
    font-size: 15px;
    color: brown;
    text-align: center;
    /*font-family: 'Bad Script', cursive;*/
    font-family: 'Marcellus SC', serif;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

#divH1 {
    font-size: 25px;
    color: brown;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    text-shadow: 2px 2px 2px white;
}

#divH2 {
    font-size: 15px;
    color: brown;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    text-shadow: 2px 2px 2px white;
}

.aboutA {
    display: flex;
    justify-content: flex-endcenter;
    border: 2px black;
}

.aa {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#flash {
    animation: flash 2.5s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    height: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

input[type="button"] {
    background-color: rgb(172, 55, 55);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

input[type="submit"]:hover {
    background-color: rgba(179, 82, 82, 0.596);
    ;
}

textarea {
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

#aMenu {
    padding: 1rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.7;
    margin-right: 5px;
}

.divForm {
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Marcellus SC', serif;
    letter-spacing: 2px;
    margin-block-end: 20px;
    margin: auto;
}

.mainServ {
    background-color: rgba(104, 52, 52, 0.267);
    width: 99%;
    height: 900px;
}

.mainServ h3,
.mainServ h4,
.mainServ img,
.mainServ iframe,
.mainServ div {
    position: absolute;
    transform: translateX(-50%);
    color: whitesmoke;
    font-family: 'Marcellus SC', serif;
    letter-spacing: 2px;
}

.mainServ div {
    background-color: rgba(120, 104, 82, 0.495);
    border-radius: 10px;
    width: 750px;
    height: 360px;
    top: 6%;
    left: 21%;
}

.mainServ h3 {
    top: 5%;
    left: 7%;
    font-size: 30px;
}

.mainServ h4 {
    top: 14%;
    left: 35%;
    font-size: 15px;
    text-align: center;
}

.mainServ img {
    top: 10%;
    left: 21%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid black;
}

.mainServ iframe {
    top: 28%;
    left: 35%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
}

@media (max-width: 910px) {

    body {
        padding: 15px;
    }

    header {
        width: auto;
    }

    .barraAdorno {
        width: auto;
    }

    .barraAdorno2,
    article,
    a {
        font-size: 14px;
        width: auto;
    }

    main {
        width: auto;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }

    footer {
        display: block;
        padding: auto;
    }

    .listaFooter {
        display: block;
        margin-top: -30px;
        margin-left: -50px;
    }

    ul,
    li {
        display: flex;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .listaFooter,
    img {
        display: flex;
    }

    .fa-solid {
        display: block;

    }

}